<div data-core-strategy-tabs='1' class="tabs-container">
  <ul data-core-strategy-tabs-tabs='1' class="nav nav-tabs">
    <li ><a  href="<%=events_professional_events_index_path()%>"><i class="fa fa-list"></i>  Professional Events</a></li>
    <li><a href="<%=events_social_events_index_path()%>"><i class="fa fa-list"></i>  Social Events </a></li>
    <li class="active"><a href="#"> <i class="fa fa-plus-circle"></i> Edit Event</a></li>
  </ul>
  <div data-core-strategy-tabs-content='1' class="tab-content">
    <div data-core-strategy-tabs-content-pane='1' class="tab-pane active">
      <div data-core-strategy-tabs-content-pane-body='1' class="panel-body">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <%= simple_form_for @event, as: :event, :url => events_event_path(@event), html: {class: "form-horizontal", :multipart => true}   do |f| %>
               <%= render 'form' , :f => f %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
