// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
    Created on : 2 Oct, 2015, 7:52:36 AM
    Author     : RAKESH
    File       : Assan  landing template
    version    : v1.0
*/
